#faqs {
    background: $tan;
    color: $darkGreen;
    box-sizing: border-box;
    padding: 0 0 40px;
    .logo {
        width: 200px;
        height: auto;
        display: block;
        margin: 40px auto 0;
        img {
            width: 100%;
            height: auto;
        }
    }
    a {
        color: $darkGreen;
        &:hover {
            text-decoration: underline;
            color: black;
        }
    }
    .wrap {
        max-width: 800px;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 20px;
        section {
            margin: 100px 0;
        }
        h1 {
            text-align: center;
        }
        h4 {
            margin: 40px 0 0;
        }
    }
}