#sponsors {
	background: $darkGreen;
	h3 {
		color: $tan;
	}
	.wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: 0 0 60px;
		margin: 0 auto;
		gap: 60px 40px;
		a {
			flex: 0 0 25%;
			box-sizing: border-box;
			opacity: 1;
			transition: all 0.3s ease-in-out;
			img {
				max-width: 80%;
				width: auto;
			}
			&:hover {
				cursor: pointer;
				transition: all 0.3s ease-in-out;
			}
		}
		#tacoBell {
			img {
				width: 50%;
			}
		}
		#fermHouse,
		#vibeWell {
			img {
				width: 30%;
			}
		}
	}
}

@media(min-width: 768px) {
	#sponsors {
		padding-bottom: 40px;
		.wrap {
			margin-top: 80px;
			a {
				flex: 0 0 20%;
				img {
					width: 50%;
				}
			}
			#tacoBell {
				img {
					width: 30%;
				}
			}
		}
	}
}
