@font-face {
    font-family: 'genty';
    src: url('../fonts/genty/genty-regular.woff2') format('woff2'),
         url('../fonts/genty/genty-regular.woff') format('woff'),
         url('../fonts/genty/genty-regular.ttf') format('ttf'),
         url('../fonts/genty/genty-regular.svg') format('svg');
}

@font-face {
    font-family: 'montserrat-regular';
    src: url('../fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
         url('../fonts/montserrat/Montserrat-Regular.woff') format('woff'),
         url('../fonts/montserrat/Montserrat-Regular.ttf') format('ttf'),
         url('../fonts/montserrat/Montserrat-Regular.svg') format('svg');
}
@font-face {
    font-family: 'montserrat-extrabold';
    src: url('../fonts/montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
         url('../fonts/montserrat/Montserrat-ExtraBold.woff') format('woff'),
         url('../fonts/montserrat/Montserrat-ExtraBold.ttf') format('ttf'),
         url('../fonts/montserrat/Montserrat-ExtraBold.svg') format('svg');
}
@font-face {
    font-family: 'pomelo';
    src: url('../fonts/pomelo/Pomelo.woff2') format('woff2'),
         url('../fonts/pomelo/Pomelo.woff') format('woff'),
         url('../fonts/pomelo/Pomelo.ttf') format('ttf'),
         url('../fonts/pomelo/Pomelo.svg') format('svg');
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700i,800,900i&display=swap');

$red: #d56c81;
$orange: #e28468;
$yellow: #f0ef6c;
$tan: #f0ef6c;
$teal: #87e1c0;
$blue: #6eb58b;
$black: #262626;

@import '_screen.scss';
@import '_scooch.scss';
@import '_opacc.scss';